@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the background to be dark so white text is visible */
body {
  background-color: #0f172a; /* This is Slate-900 */
  color: white;
}